extends ../layout

block content
  .page-header.row
    .pull-left.col-md-2
      img(style='width: 200px' src=book.imageURL)
    .col-md-6.col-md-offset-1
      h2
        b #{book.title}
      p.lead #{book.author}
      if book.rating
        - var baseRating = Math.floor(book.rating)
        - for (var i = 0; i < baseRating; ++i) {
          i.fa.fa-star.fa-2x(aria-hidden='true')
        - }
        - if (Math.round(book.rating) != baseRating) {
          i.fa.fa-star-half-o.fa-2x(aria-hidden='true')
        - }
      p  
      p This book is owned by 
        a(style='color: #d83c30', href='/profile/' + book.owner._id) #{owner_name}
    .col-md-2#detail-menu
      if isOwners
        ul
          p 
            b Manage
          li
            a(href='/toggle/' + book._id)
              if book.up_for_trade
                | Trade on
                i.fa.fa-toggle-on.green(aria-hidden='true')
              else
                | Trade off
                i.fa.fa-toggle-off.red(aria-hidden='true')
          li 
            a(href='/remove/' + book._id) Remove
              i.fa.fa-trash-o(aria-hidden='true')
      else
        ul
          p
            b Options
          li
            if book.up_for_trade
              a(href='/trade/for/' + book._id) 
                i.fa.fa-exchange.green(aria-hidden='true')
                | Request trade
            else
              i.fa.fa-ban.red(aria-hidden='true')
              | Trade disabled
  .row
    if book.search_description
      h3
        b Summary
      p #{book.search_description}
    if book.owner_description
      h3
        b Owner notes
      p #{book.owner_description}  