extends ../layout

block content
  .row
    .pull-left
      h1 #{title}
      p.lead #{description}
  hr
  if books.length
    #book-list
      .col-md-2.text-center
        a(href='/new' class='add-book') 
          i.fa.fa-plus-circle.fa-5x(aria-hidden='true')
        h4 Add a book
      each book in books
        .book.col-md-2
          a(href='/book/' + book._id)
            h4 #{book.title}
            p #{book.author}
            img(src=book.imageURL)
  else
    h4 No books found :<
    .col-md-4.col-md-offset-4.text-center
      a(href='/new' class='add-book') 
        i.fa.fa-plus-circle.fa-5x(aria-hidden='true')
      h3 Add a book