extends ../layout

block content
  .row
    .pull-left
      h1 #{title}
      p.lead #{description}
  hr
  .col-md-2.text-center
    a(href='/new' class='add-book') 
      i.fa.fa-plus-circle.fa-5x(aria-hidden='true')
    h4 Add a book
  if books.length
    #book-list
      each book in books
        .col-md-2
          h4 #{book.title}
          p #{book.author}
          a(href='/book/' + book._id)
            img(src=book.imageURL)
          p 
            a(href='#', class='remove-book-link') Remove
  else
    p No books found :<