extends ../layout

block content
  .row
    .pull-left
      h1 #{title}
      p.lead #{description}
  hr
  if books.length
    .col-md-2.text-center
      a(href='/new' class='add-book') 
        i.fa.fa-plus-circle.fa-5x(aria-hidden='true')
      h4 Add a book
    #book-list
      each book in books
        .col-md-2
          h4 #{book.title}
          p #{book.author}
          a(href='/book/' + book._id)
            img(src=book.imageURL)
  else
    p No books found :<
    .col-md-4.col-md-offset-4.text-center
      a(href='/new' class='add-book') 
        i.fa.fa-plus-circle.fa-5x(aria-hidden='true')
      h3 Add a book