extends ../layout

block content
  div(ng-controller='BookController')
    .page-header.row
      .col-md-2
        img(ng-src='{{bookImageUrl}}')
      .col-md-6.col-md-offset-1
        h1 Trading with #{receiver.profile.full_name}
        p.lead for #{book.title} by #{book.author}
      .col-md-2
        img(src=book.imageURL)
    form.form-horizontal(method='POST', action='/trade/for/' + book._id)
      input(type='hidden', name='_csrf', value=_csrf)
      input(type='hidden', name='receiverId', value=receiver._id)
      h4 Select from one of the following:
      #book-list
        .col-md-2.book(ng-repeat='book in books', ng-class="{'book-selected': $index == selectedIndex}", ng-click='updateBookId(book, $index)')
          img(ng-src='{{book.imageURL}}')
        input.form-control(type='hidden', name='bookid', id='bookid', ng-model='bookId', value='{{bookId}}', required)
      .form-group
      label.col-sm-3.control-label(for='Message') Message
      .col-sm-7
        textarea.form-control(type='message', name='message', id='message', placeholder='Message', required)
      .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit') Send
block scripts
  script.
    const senderBooks=!{JSON.stringify(sender.books)}