extends ../layout

block content
  .page-header.row
    .pull-left
      h1 Your trades
      p.lead View and manage your trades with other users
  .row
    .col-md-6.trade-list
      h4
        b Trades sent to you (#{tradesReceived.length})
      if tradesReceived.length
        each tr in tradesReceived
          a(href='/trade/' + tr._id)
            .trade.row
              .col-md-4
                p
                  b= tr.offer.title.substr(0,30)
                p= tr.offer.author.substr(0,30)
                img(src=tr.offer.imageURL)
              .col-md-4.text-center
                i.fa.fa-exchange.fa-4x(aria-hidden='true')
              .col-md-4
                p
                  b= tr.book.title.substr(0,30)
                p= tr.book.author.substr(0,30)
                img(src=tr.book.imageURL)
      else
        p You do not have any incoming trades.
    .col-md-6.trade-list
      h4
        b Trades you've sent to others (#{tradesSent.length})
      if tradesSent.length
        each ts in tradesSent
          a(href='/trade/' + ts._id)
            .trade.row
              .col-md-4
                p(style='font-weight: ')
                  b= ts.book.title.substr(0,30)
                p= ts.book.author.substr(0,30)
                img(src=ts.book.imageURL)
              .col-md-4
                i.fa.fa-exchange.fa-4x(aria-hidden='true')
              .col-md-4
                p
                  b= ts.offer.title.substr(0,30)
                p= ts.offer.author.substr(0,30)
                img(src=ts.offer.imageURL)
      else
        p You do not have any outgoing trades.
  hr
  .row
    .col-md-6.trade-list
      h4
        b Trades completed (#{tradesCompleted.length})
      if tradesCompleted.length
        each tc in tradesCompleted
          p
            a(href='/trade/' + tc._id)
              | #{tc.updatedAt}
      else  
        p You do not have any completed trades.